<!-- 
  <p class="md__image">
  <img src="{{ .Destination | safeURL }}" alt="{{ .Text }}" {{ with .Title}} title="{{ . }}"{{ end }} />
</p>
-->
{{ if .Title }}
  <figure style="text-align: center;">
    <img style="width:65%" src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
    <figcaption style="text-align:center"><i>{{ .Title }}</i></figcaption>
  </figure>
{{ else }}
<p style="text-align: center;">
  <img style="width:65%" src="{{ .Destination | safeURL }}" alt="{{ .Text }}">
</p>
{{ end }}