{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>
        <div class="row">
          <div class="col-lg-4 small-post-border">
            <i class="ti-instagram h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Instagram</h5>
            <a href="https://www.instagram.com/ilmiofrittomisto/">@ilmiofrittomisto</a>
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-email h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Email</h5>
            <a href = "mailto: ilmiofrittomisto@gmail.com">{{ .Site.Params.email }}</a>
            
          </div>
          <div class="col-lg-4 small-post-border">
            <i class="ti-location-pin h1 text-primary"></i>
            <h5 class="font-weight-light my-3">Location</h5>
            <a href="https://www.google.com/maps/place/Palo+Alto,+CA,+USA/@37.425713,-122.1703694,13z/data=!3m1!4b1!4m5!3m4!1s0x808fb07b9dba1c39:0xe1ff55235f576cf!8m2!3d37.4418834!4d-122.1430195">{{ .Site.Params.location | markdownify }}</a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="section-sm pb-0">

</section>

<section class="section-sm pb-0">

</section>

{{ end }}